<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<h1>Hello Instructor</h1>
<h1>List of Courses</h1>
<h3>welcome instructor</h3>
<h3><a th:href="@{/courses}">List All Users</a></h3>
<!--<ul>-->
<!--    <li th:each="course : ${listCourses}" th:text="${courses}"></li>-->
<!--</ul>-->
</body>
</html>
